:root {
    font-family: roboto, sans-serif;
}

h1 {
    font-size: 65px;
    text-align: center;
    color: rgb(47, 51, 45);
}

h2 {
    margin-top: 5em;
    color: rgb(64, 155, 33);
}


.input > input {
    margin: 5em;
    padding: 5em;
}

textarea {
    margin: 5em;
    padding: 2em;
}
